<ion-header>
  <ion-toolbar class="toolbar-personalizado">
    <div class="logo-contenedor">
      <img src="assets/img/logo-travel2.png" alt="TravelGo Logo" class="header-logo2" />
      <ion-title class="titulo-home">TravelGo</ion-title>
    </div>

<ion-buttons slot="end" class="menu-botones">
  <ion-button routerLink="/home" routerDirection="forward" routerLinkActive="activo">Inicio</ion-button>
  <ion-button routerLink="/about" routerDirection="forward" routerLinkActive="activo">Acerca de</ion-button>
  <ion-button routerLink="/formulario" routerDirection="forward" routerLinkActive="activo">Contacto</ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-container ion-padding">
  <ion-card class="tarjeta" *ngFor="let pais of paises">
    <img [src]="pais.imagen" alt="{{pais.nombre}}" />
    <ion-card-header class="tarjeta-contenido">
      <ion-card-title>{{ pais.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="tarjeta-contenido">
      <p>{{ pais.descripcion }}</p>
    </ion-card-content>
  </ion-card>

  <app-footer></app-footer>
</ion-content>
